body{
  background-color: black;
  overflow-y: hidden; 
  overflow-x: hidden;
}

canvas{
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  position: absolute;
  /*
  border: solid white 2px; 
  */
}

@font-face { /* Add Space Invaders Font*/
  font-family: 'Space Invaders';
  src: url('../res/font/unifont.ttf') format('truetype'); 
}  